.tile {
    height: 250px;
    flex-basis: 32%;
    width: 250px;
    flex-grow: 1;
    text-align: center;
    // border: solid black 5px;
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    // background-image: linear-gradient(#fff, #fff), linear-gradient(#FFAFBD, #ED4264);
}

.tile1 {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #c2e9fb, #a1c4fd);
}